body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
.form {
  width: 100vw;
  display: flex;
  margin-bottom: 2rem;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 0 auto;
}

.filtered,
.statistics {
  width: 45vw;
  border: 1px solid #ddd;
}

.form input[type='text'] {
  width: 90%;
  outline: none;
  border-style: none;
  border-bottom: 1px solid green;
  padding: 0.5rem;
}

.img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
}

.list {
  display: flex;
  list-style: none;
}
